---
layout: default
---
<article class="post">

  <header class="post-header">
    {% if page.title %}
    <h1 class="post-title">{{ page.title | escape }}</h1>
    {% else %}
    <h1 class="post-title">{{ site.title | escape }}</h1>
    {% endif %}
  </header>

  <div style="color:black; border-style: solid; border-width: thick; border-color: red; padding: 10px; margin-bottom: 15px; padding: 10px; background-color: #F1EFEF;">

    <h2>(Jos teet jo harjoitustyötä) Lue ensin moodle</h2>
    
    <p>
      Kurssin <a href="{{site.moodle}}">Moodle sivujen</a> sisältämä tieto kannattaa lukea aina kurssin aluksi! 
      Siellä selitetään kurssin tavoitteista, arvostelusta ja rakenteesta tarkemmin. Moodlesta
      löytyy myös suorat linkit näiden sivujen olennaisimpiin osiin. Nämä sivut olettavat, 
      että tunnet moodlessa olevan materiaalin ja voivat tuntua sekavilta jos et. 
     </p>
    
    </div>

  <div class="post-content">
    {{ content }}
  </div>

</article>