---
layout: default
---
<article class="post">

  <header class="post-header">
    {% if page.title %}
    <h1 class="post-title">{{ page.title | escape }}</h1>
    {% else %}
    <h1 class="post-title">{{ site.title | escape }}</h1>
    {% endif %}
  </header>

  <div style="color:black; border-style: solid; border-width: thick; border-color: red; padding: 10px; margin-bottom: 15px; padding: 10px; background-color: #F1EFEF;">
    {% include moodle_read_fin.md %}
  </div>

  <div class="post-content">
    {{ content }}
  </div>

</article>